.dropDownContainer {
  position: relative;
  .inputField {
    width: 320px;
    padding: 14px 30px 16px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: azure;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    @media screen and (max-width: 768px) {
      width: 260px;
    }
    &:focus {
      display: none;
    }
    &::placeholder {
      font-size: 16px;
      font-weight: 600;
      font-family: "Roboto", sans-serif;
      color: #ffffff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 220px;
      @media screen and (max-width: 768px) {
        width: 180px;
      }
    }
  }

  .dropDownArrowIcon {
    width: 20px;
    position: absolute;
    top: 14px;
    right: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .dropDownOverlay {
    position: absolute;
    background-color: transparent;
    box-shadow: -10px 10px 40px rgba(255, 245, 244, 0.5);
    padding: 14px 0 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 320px;
    height: 240px;
    min-height: 240px;
    overflow-y: auto;
    display: none;
    @media screen and (max-width: 768px) {
      width: 260px;
    }
    &.show {
      display: block;
    }
    &::-webkit-scrollbar {
      width: 4px !important;
    }
    &::-webkit-scrollbar-track {
      background-color: darkslategrey !important;
      border-radius: 4px !important;
      &:hover {
        background-color: black !important;
      }
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px !important;
      background-color: black !important;
      &:hover {
        background-color: darkslategrey !important;
      }
    }

    .dropdownItem {
      padding: 5px 30px 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        border-radius: 6px;
        background-color: black;
      }
    }
  }
}
